<launch>
	<node name="rosserial_node" pkg="rosserial_python" type="serial_node.py"> 
			<param name="port" type="string" value="/dev/ttyUSB0"/>
			<param name="baud" type="int" value="57600"/>
		</node>
	
	<node pkg="rover_pkg" type="rover_control_interface.py" name="rover_control_interface" output="screen"></node>
	
	<node pkg="rover_pkg" type="PWM_interface.py" name="PWM_interface" output="screen"></node>
	
	<node pkg="pwm_pca9685" type="pca9685_node" name="pca9685_node" output="screen"></node>
	
		
		
</launch>
