<launch>
	<node pkg="rover_pkg" type="user_input_keyboard.py" name="user_input_keyboard" output="screen"></node>
	
	<node pkg="rover_pkg" type="rover_control_interface.py" name="rover_control_interface" output="screen"></node>
	
	<node pkg="rover_pkg" type="PWM_interface.py" name="PWM_interface" output="screen"></node>
	
	<node pkg="pwm_pca9685" type="pca9685_node" name="pca9685_node" output="screen"></node>
	
		
</launch>
